.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.prompt{
  position: relative;
  text-align: center;
  color : #1F6E8C;
  margin-top: 40px;
  font-size: 2em;
}
.ip{
  position: relative;
  display: inline-block;
  border-radius: 5px;
  width: 36mm;
  height: 12mm;
  text-align: center;
  margin : auto ; 
}
.op{
  font-size: 1.2em;
  color : black ;
}
th,td{
  text-align: center;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
